.dispo {
    background-color: green !important;
    color: white !important;
    opacity: 80% !important;
}

.non-dispo {
    background-color: red !important;
    color: white !important;
    opacity: 80% !important;
}

.details-btn{
    width: 150px !important;
    margin: 5px !important;
}
