.dispo {
    background-color: green !important;
    color: white !important;
    opacity: 80% !important;
}

.non-dispo {
    background-color: red !important;
    color: white !important;
    opacity: 80% !important ;
}

.details-btn{
    width: 150px !important;
    margin: 5px !important;
}

.dispo-col{
    text-align: center !important;
    vertical-align: middle !important;
}

h1 {
    font-family: 'Roboto Slab', serif;
}

table img{
    height: 200px ;
    width: 150px;
}

